# Backuping
*.bak
*.orig

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# CSS
.sass-cache

# DB
*.sqlite

# Distribution / packaging
*.egg
*.egg-info/

# Environments
env/
venv/

# IDE files
.idea

# Logs
log

# Rope project settings
.ropeproject

# Translations
*.mo

# Unit test / coverage reports
.coverage
.coverage.*

# Vim
*.swo
*.swp
*~
